*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins;
    background: hsl(257, 40%, 49%);
    color: #fff;
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 500px;
}


/*   header styling  */


header {
    margin: -30px 0;
}

header img{
    padding-left: 40px;
    display: block;
    width: 220px;
    height: 220px;
}

.content{
    margin-bottom: 60px;
}
.content img {
    margin: 0 auto;
    display: block;
    width: 70vw;
    height: 200px;
}


/*   body styling  */

.body{
    text-align: center;
}

.body h1 {
    font-size: 27px;
}

.body h2 {
    font-size: 22px;
    margin-bottom: 15px;

}

.body p {
    margin: 0 auto;
    width: 80%;
    color: rgba(255, 255, 255, .6);
    line-height: 1.3em;
    margin-bottom: 50px;
}

.body a {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    border-radius: 50px;
    background-color:rgba(100%, 100%, 100%, .9);
    padding: 12px 85px;
    font-size: 1.1rem;
}

body a:hover{
    transition: all .2s ease-in-out;
    background: #FC9D8B;
    border: 1px solid #fff;
    color: #fff;

}

/*   footer styling  */

footer{
    margin: 80px 0 60px 0;
}

footer ul {
    text-align: center;
    list-style: none;
}

footer ul li {

    display: inline-block;
    margin: 0 5px;
}

footer ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
   
    padding: 5px 13px;
    font-size: 1em;
    /* line-height: 10px; */
    color: #fff;
}

footer ul li:nth-of-type(2) a, footer ul li:nth-of-type(3) a {
    border: 1px solid #fff;
    border-radius: 50%;
   
    padding: 5px 9px;
    font-size: 1em;
    /* line-height: 10px; */
    color: #fff;
}

footer ul li:first-of-type a:hover{
    transition: all .3s ease-in-out;
    transform: translateY(10px);
    background-color: #fff;
    border: none;
    color: #3b5998;
}
footer ul li:nth-of-type(2) a:hover{
    background-color: #fff;
    border: none;
    color: #1da1f2;
}
footer ul li:nth-of-type(3) a:hover{
    background-color: #fff;
    border: none;
    color: #e4405f;
}

.clearfloat{
    clear: both;
}


@media (min-width:500px){
    .content img {
        height: 300px;
    }
    
    
}

@media (min-width:600px){
    .content img {
        height: 350px;
    }
    
    
}
@media (min-width:840px){
    
    body{
     
        
        background-image: url('../images/bg-desktop.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content{
        float: left;
        width: 60%;
        margin-bottom: 0;
    }
    
    .content img {
        width: 90%;
        height: 450px;
    }
    
    .body{
        min-height: 350px;
        text-align: left;
        padding: 50px 20px 20px 20px;
        float: right;
        width: 40%;
    }
    .body p {
        text-align: left;
        margin-left: 0em;
        width: 100%;
    }

    footer{
        margin: 60px 0;
        }
    footer ul{
        text-align: right;
        margin-right: 60px;
    }

}
















